@model LV3_Cong.Models.Birthday
@{
    ViewData["Title"] = "Add person";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div>
        <label>FIO</label>
        <input asp-for="FIO" />
    </div>
    <div>
        <label>Date</label>
        <input asp-for="Date" type="date" />
    </div>
    <div>
        <label>Photo</label>
        <input asp-for="PhotoPath" type="file" name="formFile" accept="image/*" />
    </div>
    <button type="submit">Save</button>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
